*{
    padding: 0%;
    margin: 0%;
}

#nav {
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.container-fluid{
    background-color: #e6e6e6;
}

.logo{
    width: 200px;
    max-width: 100%;
    height: 100px;
}

.fotos{
    width: 90%;
    max-width: 100%;
}

.titulo{ 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5vw;
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo titulo titulo titulo"
      "foto1 foto2 foto3 foto4";

  }
  
  .titulo { grid-area: titulo; }
  
  .foto1 { grid-area: foto1; margin-bottom: 1vw;}
  
  .foto2 { grid-area: foto2; margin-bottom: 1vw;}
  
  .foto3 { grid-area: foto3; margin-bottom: 1vw;}
  
  .foto4 { grid-area: foto4; margin-bottom: 1vw; }
  
#carrito{
    width: 3vw;
}

.containerProductos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1 foto2 foto3 foto4";

  }
  
  .foto1 { grid-area: foto1; margin-bottom: 1vw;}
  
  .foto2 { grid-area: foto2; margin-bottom: 1vw;}
  
  .foto3 { grid-area: foto3; margin-bottom: 1vw;}
  
  .foto4 { grid-area: foto4; margin-bottom: 1vw; }


@media only screen and (max-width: 600px) {
    .container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vw 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo"
          "foto1" 
          "foto2" 
          "foto3" 
          "foto4";
        justify-content: center;
    
      }

      .foto1, .foto2, .foto3, .foto4 {
        margin-left: 10vw;
        margin-bottom: 2vw;
    }

    .centrarCarouseltexto{
        text-align: center;
    }

    .centrarCarouseltexto{
        text-align: center;
        color: whitesmoke;
    }

    .titulo{ 
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .containerProductos {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "foto1" 
          "foto2" 
          "foto3" 
          "foto4";
        justify-content: center;
      }

      .foto1, .foto2, .foto3, .foto4 {
        margin-left: 10vw;
        margin-bottom: 2vw;
    }

    #lista-carrito li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #lista-carrito img {
        margin-bottom: 10px;
    }

    #lista-carrito p {
        margin-left: 0;
    }

}

.centrarTexto{
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
}

.carousel {
    margin: auto;
}

.centrarCarouseltexto{
    margin-top: 15vw;
    margin-bottom: 21vw;
    text-align: center;
    color: whitesmoke;
}

main{
    background-color: whitesmoke;
}

.centradoTextoFooter{
    text-align: center;
}

footer{
    background-color: #e3e4e5;
}

.Medios-de-pago {
    display: flex;
    align-items: center;
}

.Medios-de-pago img {
    width: 35px;
    margin: 0 5px;
    max-width: 100%;
}
.Medios-de-envio {
    display: flex;
    align-items: center;
}

.Medios-de-envio img {
    width: 35px; 
    margin: 0 5px; 
    max-width: 100%;
}

.Medios-de-pago img {
    width: 35px; 
    margin: 0 5px; 
}

.Linea-divisora {
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 1vw auto;
  }

#instagram{
    color: black;
    margin-right: 2vw;
}

#nosotros{
    color: #737373;
    margin: 0%;
}

#textoNosotros{
    margin: 0%;
}

.espaciado{
    padding: 1vw;
}

.centrado{
    text-align: center;
}

.containerFooter2{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Sigamos-Conectados Sigamos-Conectados Sigamos-Conectados Sigamos-Conectados "
      "Logos Logos Logos Logos"
      "Linea-divisora Linea-divisora Linea-divisora Linea-divisora"
      "Contacto Contacto Contacto Contacto"    
      "Medios-de-envio Medios-de-envio Medios-de-envio Medios-de-envio"
      "Medios-de-pago Medios-de-pago Medios-de-pago Medios-de-pago"
      "Copyright Copyright Copyright Copyright";    
  }
  
  .Sigamos-Conectados { grid-area: Sigamos-Conectados; }

  .Logos{ grid-area: Logos; text-align:center;}
  
  .Linea-divisora { grid-area: Linea-divisora; }

  .Contacto {grid-area: Contacto;}

  .Medios-de-envio { grid-area: Medios-de-envio; }
  
  .Medios-de-pago { grid-area: Medios-de-pago; }
  
  .Copyright { grid-area: Copyright; text-align: center; font-size: small;}


.Contacto h5, .Contacto i, .Contacto p {
    display: inline-block;
}

#espacio{
    margin-right: 1vw;
}

.contadorBolsa{
    background-color: black;
    border-radius: 100%;
    color: white;
    display: inline-block;
    width: 15px;
    line-height: 14px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
}

.botonComprar{
    display: inline-block;
    background-color: #0d6efd;
    color: #fff;
    padding: 7px 12px;
    border: none;
    border-radius: 6%;
    cursor: pointer;
    text-decoration: none;
}

.botonComprar:hover {
    background-color: #0056b3;
}


#lista-carrito {
    padding: 0;
}

.producto-carrito {
    display: flex;
    align-items: center;
}


#total-pagar {
    margin-top: 20px;
    margin-bottom: 10px;
}

.centradoTextoAbajo{
    text-align: center;
    padding-bottom: 1vw;
}

#pagar{
    background-color: #0d6efd;
    color: #fff;
    padding: 7px 12px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

#pagar:hover{
    background-color: #0056b3;
}

#vaciar{
    background-color: #0d6efd;
    color: #fff;
    padding: 7px 12px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

#vaciar:hover {
    background-color: #0056b3;
}


#lista-carrito li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

#lista-carrito img {
    width: 100px; 
    height: auto;
}

#lista-carrito p {
    margin-left: 10px;
    flex-grow: 1;
    display: block;
}

.eliminar-producto{
    background-color: red;
    color: black;
    padding: 7px 12px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

.eliminar-producto:hover {
    background-color:#d40000da;
}

.tituloProductos{
    text-align: center;
    padding: 1vw;
}

.separado{
    padding: 1vw;
}